<% layout("layouts/boilerplate") %>

    <div class="row">
        <div class="col-md-6">
            <div class="image">
                <% if(user.icon){ %>
                    <img crossorigin="anonymous" src="<%= user.icon.url %>" class="profile-icon" alt="">
                    <% } else { %>
                        <img crossorigin="anonymous"
                            src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                            class="profile-icon" alt="">
                        <% } %>
                            <div class="overlay">
                                <form action="/profile/editImg?_method=PATCH" method="POST" id="editForm"
                                    enctype="multipart/form-data">
                                    <label for="icon" class="edit x">Edit</label>
                                    <input type="file" name="icon" hidden id="icon">
                                </form>
                                <% if(user.icon.url!="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1274&q=80"
                                    ){ %>
                                    <form action="/profile/deleteImg?_method=PATCH" method="POST">
                                        <label for="removing" class="remove x">Remove</label>
                                        <button id="removing" hidden>Remove</button>
                                    </form>
                                    <%}%>
                            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= user.username %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <%= user.email %>
                    </h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Posted: <%= user.posts.posted %>
                    </li>
                    <li class="list-group-item">Favorites: <%= user.posts.fav %>
                    </li>
                    <li class="list-group-item">Bio: <%= user.bio %>
                    </li>
                    <li class="list-group-item">
                        <a class="card-link btn btn-warning" href="/profile/edit">Edit</a>
                        <a class="card-link btn btn-info" href="/history">History</a>
                        <a class="card-link btn btn-info" href="/favorites">Favorites</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div>
        <% if(!user.history){ %>
            <h1>You Have Not Posted Anything Yet</h1>
            <% }else{ %>
                <% for(let post of user.history){%>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img crossorigin="anonymous" src="<%= post.image.url %>" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= post.description %>
                                    </h5>
                                    <p class="card-text">
                                        <%= post.tags %>
                                    </p>
                                    <a class="btn btn-primary" href="/posts/<%= post._id %>">View</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
    </div>
    <script src="/JS/auto.js"></script>