<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/stars.css">
    <div class="row">
        <div class="col-6 <%=currentUser ? "":" offset-3"%>">
            <div class="card text-bg-dark  mb-5">
                <img src="<%=post.image.url%>" class="d-block w-100 card-img-top" alt="">
                <div class="mx-3 my-3">
                    <img src="<%= post.author.icon.url %>" alt="" class="post-icon d-inline">
                    <p class="card-text d-inline post-name mt-2">
                        <strong>
                            <%= post.author.username%>
                        </strong>
                    </p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= post.description %>
                    </h5>
                    <br>
                    <p class="card-text">
                        <%= post.tags%>
                    </p>
                </div>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/posts/<%= post._id %>/edit">Edit</a>
                    <form class="d-inline" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <Button class="btn btn-danger">Delete</Button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <%= diff <=1 ? "Today" : diff+ " Days Ago" %>
                </div>
            </div>
        </div>


        <div class="col-6">
            <% if(currentUser){ %>
                <h2 class="my-5">Leave a comment :)</h2>
                <form class="my-5 needs-validation" action="/posts/<%=post._id %>/comment" method="POST" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="body">comment</label>
                        <textarea name="comment[body]" id="body" cols="30" rows="3" class="form-control"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit comment</button>
                </form>
                <% } %>

                    <% for(let comment of post.comments){ %>
                        <div class="card my-5">

                            <div class="card-body">
                                <h5 class="card-title"> By: <%= comment.author.name %>
                                </h5>
                                <p class=" card-text">comment: <%= comment.body %>
                                </p>
                                <% if( currentUser && comment.author.equals(currentUser._id)) {%>
                                    <form class="d-inline"
                                        action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE"
                                        method="POST">
                                        <Button class="btn btn-sm btn-danger">Delete</Button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>

        </div>
    </div>